<html>
    <head>
        
        <style>
        button{
        background-color: #0066ff;
        border: none;
        color: white;
        border-radius: 7px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }
        
        
        </style>
        <style>
        body {
        background-color: #33ccff;
        color : white;
        }
        </style>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>